<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<regulatory_document>
           <general>
               <email_templates>regulatory_document_general_email_templates</email_templates>
           </general>
       </regulatory_document>
	</default>
</config>
