<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="product_attachments" frontName="product_attachments">
			<module name="Ziffity_ProductAttachments" />
		</route>
	</router>
</config>
